{% comment %}
    Form used for buy it now button on product template 
    Takes buyer directly to checkout page with item
{% endcomment %}

{%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="product-template__container page-width"
        id="ProductSection-{{ section.id }}"
        data-section-id="{{ section.id }}"
        data-section-type="product"
        data-enable-history-state="true"
        data-ajax-enabled="{{ settings.enable_ajax }}">

    {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
        <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
            {% for variant in product.variants %}
            <option value="{{ variant.id }}" {%- if variant == current_variant %} selected="selected" {%- endif -%}>
                {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
            </option>
            {% endfor %}
        </select>
        <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
            data-error-message-wrapper
            role="alert">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% include 'icon-error' %}
            <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
        </div>

        <div class="product-form__controls-group product-form__controls-group--submit">
            <div class="product-form__item product-form__item--submit" >
                {{ form | payment_button }}
            </div>
        </div>
    {% endform %}
</div>